.App {
  text-align: center;
}

* { box-sizing: border-box; }

body {
  font-size: 1em;
}

a {
  font-weight: bold;
  text-decoration: none;
  transition: text-decoration 2s;
}

a:hover {
  text-decoration: underline;
}

/* unvisited link */
a:link {
  color: green;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: yellow;
}

/* Added */
.Nav-style {
  display: flex;
  justify-content: space-around;
}

.ImgStyle {
  margin: 60px 0;
  transform: rotate(-20deg);
  transition: transform 2s;
  box-shadow: 5px 5px 8px gray;
}

.ImgStyle:hover {
  transform: rotate(0deg);
}

.flip {
  transform: rotate(180deg);
}

/* About.js Style  */
.InnerDiv {
  height: 90%;
  width: 90%;
  position: relative;
  top: 5%;
  margin: auto;
  border: 1px solid red;
  border-radius: 50%;
}

.OuterDiv {
  height: 305px;
  width: 305px;
  margin: 60px auto;
  box-shadow: 0px 0px 60px #fff0f0;
  border-radius: 50%;
  background-color: #fff0f0;
  /* animation-name: circle;
  animation-duration: 5s; */
}

.AboutIntro {
  font-weight: bold;
  padding: 0 50px;
}

ul {
  list-style-type: none;
}

footer {
  margin-top: 40px;
}

/* @keyframes circle {
  from {
    background-color: red;
  }
  to {
    background-color: yellow;
  }
} */